<h1>Projet de Big Data 2019</h1>
<h2>Données</h2>
<p>
Pour ce projet, nous avons utilisé une base de données contenant 22 507 155 commentaires de livres rédigés sur Amazon entre Mai 1996 et Juillet 2016.
Ces données peuvent être trouvées à <a href="http://jmcauley.ucsd.edu/data/amazon/links.html">cette adresse</a>. Nous tenons à remercier M. Julian McAuley de l’Universitée de Californie à San Diego pour l’avoir mis à notre disposition. 
</p>

<h2>Corrélation entre note et commentaire</h2>
<p>
En faisant l'analyse des sentiments contenus dans les commentaires, nous avons obtenu une corrélation avec les notes données de 0.33548806883.
</p>
<p>
On remarque que la moyenne des notes dans la base est de 4.332602039648649 et que le sentiment moyen est de 0.08777433631190565. Ces valeurs nous apprennent que même si la note moyenne des utilisateurs est assez élevée, les personnes ont tendance à peu exprimer leur engouement dans leurs commentaires. Ce type de comportement n'est pas surprenant et peut aussi être observé sur des sites comme TripAdvisor ou AlloCiné : les utilisateurs ont tendance à rester plutôt sobres dans leurs commentaires. Au contraire, sur des applications comme Facebook ou Twitter, les utilisateurs auront tendance à être beaucoup plus expressifs dans leurs commentaires et on retrouvera des notes de sentiment beaucoup plus prononcées.
</p>

<h2>Recommendations</h2>
<p>
  Sur la page <a routerLink="/recommendations">Recommendations</a>, vous pourrez sélectionner un des trois profils de prédéfini. Nous avons précédemment calculé les livres recommandés pour ces profils.  
</p>